#application{
    height:100%;
}

#lyricsTextarea{
    width: 100%;
    height: 1000px;
}
#lyricsSync{
    overflow-y: auto;
    height:700px;
}
#lyricsSync li{
    border-bottom : 1px solid gray;
    list-style-position: inside;
    padding : 10px;
}
    .synced{
        background-color:yellow;
    }
    #selected{
        background-color: aqua;
    }